<a asp-action="Index" onclick="cargando()">
    <button type="button" asp-action="Index" onclick="cargando()" class="btn btn-labeled btn-default">
        <span class="btn-label">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </span>Listado C&aacute;lculo de N&oacute;mina
    </button>
</a>