@model bd.webappth.entidades.Negocio.CalculoNomina
<fieldset>
    <div class="row">
        <section class="col col-6">
            <label>Procesos</label>
            <label class="input">
                <select asp-for="IdProceso" class="form-control" asp-items="ViewBag.Procesos">
                    <option value="0" selected="selected">Seleccione</option>
                </select>
                <span asp-validation-for="IdProceso" class="text-danger"></span>
            </label>
        </section>

        <section class="col col-6">
            <label>Fecha:</label>
            <label class="input">
                <input asp-for="FechaNomina" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaNomina" class="text-danger"></span>
            </label>
        </section>

    </div>
    <br />
    <div class="row">
        <section class="col col-lg-12">
            <label>Descripci&oacute;n</label>
            <label class="input">
                <input maxlength="250" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row col col-lg-12">
        <label class="label"><b> D&eacute;cimo tercer sueldo</b></label>
        <hr />
        <br />
        <section class="col col-lg-12">
            <label>&#191 incluir en el pago de la n&oacute;mina ?</label>
            <br />
            <span class="onoffswitch">
                <input type="checkbox" checked="@Model.DecimoTercerSueldo" asp-for="DecimoTercerSueldo" name="start_interval1" class="onoffswitch-checkbox" id="st12">
                <label class="onoffswitch-label" for="st12">
                    <span class="onoffswitch-inner" data-swchon-text="Si" data-swchoff-text="No"></span>
                    <span class="onoffswitch-switch">
                    </span>
                </label>
            </span>
            

        </section>
        <div id="fechasdecimotercero" class="row col col-lg-12">
            <label class="label"><b> Rango de fecha para el c&aacute;lculo de las proviciones</b></label>
            <hr />
            <br />
            <section class="col col-lg-6">

                <label>Fecha de inicio</label>
                <label class="input">
                    <input asp-for="FechaInicioDecimoTercero" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                    <span asp-validation-for="FechaInicioDecimoTercero" class="text-danger"></span>
                </label>

            </section>
            <section class="col col-lg-6">

                <label>Fecha final</label>
                <label class="input">
                    <input asp-for="FechaFinDecimoTercero" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                    <span asp-validation-for="FechaFinDecimoTercero" class="text-danger"></span>
                </label>
            </section>
        </div>
        
    </div>

    <div class="row col col-lg-12">
        <label class="label"> <b>D&eacute;cimo cuarto sueldo </b></label>
        <hr />
        <section class="col col-lg-6">
            <label class="label"></label>
            <label class="radio">
                NINGUNO <input id="r1" name="DecimoCuartoSueldo" type="radio" value="NINGUNO" asp-for="DecimoCuartoSueldo" />
                <i></i>
            </label>
            <label class="radio">
                SIERRA <input id="r2" name="DecimoCuartoSueldo" type="radio" value="SIERRA" asp-for="DecimoCuartoSueldo" />
                <i></i>
            </label>
        </section>
        <section class="col col-lg-6">
            <label class="label"></label>
            <label class="radio">
                COSTA <input id="r3" name="DecimoCuartoSueldo" type="radio" value="COSTA" asp-for="DecimoCuartoSueldo" />
                <i></i>
            </label>
            <label class="radio">
                AMBOS <input id="r4" name="DecimoCuartoSueldo" type="radio" value="AMBOS" asp-for="DecimoCuartoSueldo" />
                <i></i>
            </label>
        </section>

        <div id="fechasdecimocuarto" class="row col col-lg-12">
            <label class="label"><b> Rango de fecha para el c&aacute;lculo de las proviciones</b></label>
            <hr />
            <br />
            <section class="col col-lg-6">

                <label>Fecha de inicio</label>
                <label class="input">
                    <input asp-for="FechaInicioDecimoCuarto" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                    <span asp-validation-for="FechaInicioDecimoCuarto" class="text-danger"></span>
                </label>

            </section>
            <section class="col col-lg-6">
                <label>Fecha final</label>
                <label class="input">
                    <input asp-for="FechaFinDecimoCuarto" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                    <span asp-validation-for="FechaFinDecimoCuarto" class="text-danger"></span>
                </label>
            </section>
        </div>

    </div>

    <div class="row col col-lg-12">
        <label class="label"><b>Empleados</b></label>
        <hr />
        <section class="col col-lg-6">

            <label>Activos</label>
            <label class="checkbox">
                <input type="checkbox" asp-for="EmpleadoActivo" />
                <input type="hidden" name="EmpleadoActivo" value="false" checked="checked" />
                <i></i>
            </label>
        </section>
    </div>

</fieldset>
<br />