@model bd.webappth.entidades.Negocio.CalculoNomina

@{
    ViewData["Title"] = "Adicionar horas extras";

    //var ids = Model.IdPersona;
}
@section css{
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
}
@using bd.webappth.entidades.Utils
@{ var modelo = new MenuFichaCalculoNomina { OpcionMenu = 2 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

@{ var subMenu = new MenuFichaCalculoNomina { OpcionMenu = 2 }; }
@{await Html.RenderPartialAsync("_PartialViewSubMenuHorasExtras", subMenu);}

<!-- MAIN CONTENT -->
<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewInformacion");}

    <section id="" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar c&aacute;lculo de n&oacute;mina</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="AdicionarHorasExtras" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdCalculoNomina" />
                                @{await Html.RenderPartialAsync("_PartialViewAdicionarHorasExtras");}
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>

}
