@model bd.webappth.entidades.Negocio.CalculoNomina

@{
    ViewData["Title"] = "brigadasSSO";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

@using bd.webappth.entidades.Utils
@{ var modelo = new MenuFichaCalculoNomina { OpcionMenu = 0 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}
<div id="content">
    <section id="" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-7">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar c&aacute;lculo de n&oacute;mina</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdCalculoNomina" />
                                @{await Html.RenderPartialAsync("_PartialViewCalculoNomina");}
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="Index" onclick="cargando()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>

    <script type="text/javascript">
        
        $("#st12").change(function () {
           
            if (!$(this).prop('checked')) {
                $("#st12").prop('checked', false);
                $('#FechaInicioDecimoTercero').val(null);
                $('#FechaFinDecimoTercero').val(null);
                $('#fechasdecimotercero').hide();
               
            } else {
                var hoy = moment(new Date()).format("DD/MM/YYYY");
                var a = moment().subtract(365, 'days');
                var as = moment(a).format("DD/MM/YYYY");
                $('#FechaInicioDecimoTercero').val(as);
                $('#FechaFinDecimoTercero').val(hoy);
                $('#fechasdecimotercero').show();

            }

        })


        $("#r1").change(function () {
            $('#FechaInicioDecimoCuarto').val(null);
            $('#FechaFinDecimoCuarto').val(null);
            $('#fechasdecimocuarto').hide();
        })

        $("#r2").change(function () {

            var hoy = moment(new Date()).format("DD/MM/YYYY");
            var a = moment().subtract(365, 'days');
            var as = moment(a).format("DD/MM/YYYY");
            $('#FechaInicioDecimoCuarto').val(as);
            $('#FechaFinDecimoCuarto').val(hoy);
            $('#fechasdecimocuarto').show();
        })

        $("#r3").change(function () {
            var hoy = moment(new Date()).format("DD/MM/YYYY");
            var a = moment().subtract(365, 'days');
            var as = moment(a).format("DD/MM/YYYY");
            $('#FechaInicioDecimoCuarto').val(as);
            $('#FechaFinDecimoCuarto').val(hoy);
            $('#fechasdecimocuarto').show();
        })

        $("#r4").change(function () {


            var hoy = moment(new Date()).format("DD/MM/YYYY");
            var a = moment().subtract(365, 'days');
            var as = moment(a).format("DD/MM/YYYY");
            $('#FechaInicioDecimoCuarto').val(as);
            $('#FechaFinDecimoCuarto').val(hoy);
            $('#fechasdecimocuarto').show();
        })

        $(document).ready(function () {
            $("#st12").prop('checked', false);
            $('#fechasdecimotercero').hide();
        });
    </script>



}