@model bd.webappth.entidades.Negocio.PlanGestionCambio
 
<fieldset>
    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-graduation-cap"></i>
                <input maxlength="20" asp-for="Titulo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Titulo)" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-book"></i>
                <textarea rows="3" asp-for="Descripcion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input maxlength="20" asp-for="FechaInicio" class="datepicker" type="text" placeholder="@Html.DisplayNameFor(model=>model.FechaInicio)" data-dateformat='dd/mm/yy' />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>

            </label>
        </section>
    </div>


    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input maxlength="20" asp-for="FechaFin" class="datepicker" type="text"  placeholder="@Html.DisplayNameFor(model=>model.FechaFin)" data-dateformat='dd/mm/yy' />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset>