@model bd.webappth.entidades.ViewModels.ViewModelDeclaracionPatrimonioPersonal

@{
    ViewData["Title"] = "ViewModelDeclaracionPatrimonioPersonalActual";
}
<div id="content">
    
    <div class="row">

        <article class="col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                <div class="widget-body no-padding">

                    <form asp-action="Create" asp-controller="DeclaracionPatrimonioPersonal" id="checkout-form" class="smart-form" novalidate="novalidate">
                        @{await Html.RenderPartialAsync("_PartialView", Model);}
                        <footer>
                            <input type="submit" value="Guardar" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-default">Cancelar</a>
                        </footer>
                    </form>
                </div>
            </div>

        </article>

    </div>

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">

        function sumarPasado() {


            
            var valor0 = parseFloat(document.getElementById("Txt_Pasado0").value.replace(",","."));
            var valor1 = parseFloat(document.getElementById("Txt_Pasado1").value.replace(",", "."));
            var valor2 = parseFloat(document.getElementById("Txt_Pasado2").value.replace(",", "."));
            var valor3 = parseFloat(document.getElementById("Txt_Pasado3").value.replace(",", "."));
            var valor4 = parseFloat(document.getElementById("Txt_Pasado4").value.replace(",", "."));
            
            document.getElementById("Txt_Pasado0").value = valor0;
            document.getElementById("Txt_Pasado1").value = valor1;
            document.getElementById("Txt_Pasado2").value = valor2;
            document.getElementById("Txt_Pasado3").value = valor3;
            document.getElementById("Txt_Pasado4").value = valor4;

            var total = valor0 + valor1 + valor2 + valor3 + valor4;

            document.getElementById("Txt_TotalPasado").value = "$" + total.toFixed(2);
            
        }

        function sumarActual() {



            var valor0 = parseFloat(document.getElementById("Txt_Actual0").value.replace(",", "."));
            var valor1 = parseFloat(document.getElementById("Txt_Actual1").value.replace(",", "."));
            var valor2 = parseFloat(document.getElementById("Txt_Actual2").value.replace(",", "."));
            var valor3 = parseFloat(document.getElementById("Txt_Actual3").value.replace(",", "."));
            var valor4 = parseFloat(document.getElementById("Txt_Actual4").value.replace(",", "."));

            document.getElementById("Txt_Actual0").value = valor0;
            document.getElementById("Txt_Actual1").value = valor1;
            document.getElementById("Txt_Actual2").value = valor2;
            document.getElementById("Txt_Actual3").value = valor3;
            document.getElementById("Txt_Actual4").value = valor4;

            var total = valor0 + valor1 + valor2 + valor3 + valor4;

            document.getElementById("Txt_TotalActual").value = "$" + total.toFixed(2);

        }


        function sumarOtrosIngresos() {
            

            var valor0 = parseFloat(document.getElementById("Txt_Ingreso0").value.replace(",", "."));
            var valor1 = parseFloat(document.getElementById("Txt_Ingreso1").value.replace(",", "."));
            var valor2 = parseFloat(document.getElementById("Txt_Ingreso2").value.replace(",", "."));
            var valor3 = parseFloat(document.getElementById("Txt_Ingreso3").value.replace(",", "."));
            var valor4 = parseFloat(document.getElementById("Txt_Ingreso4").value.replace(",", "."));

            document.getElementById("Txt_Ingreso0").value = valor0;
            document.getElementById("Txt_Ingreso1").value = valor1;
            document.getElementById("Txt_Ingreso2").value = valor2;
            document.getElementById("Txt_Ingreso3").value = valor3;
            document.getElementById("Txt_Ingreso4").value = valor4;

            var total = valor0 + valor1 + valor2 + valor3 + valor4;

            document.getElementById("Txt_TotalIngreso").value = total.toFixed(2);

        }

        sumarActual();
        sumarPasado();
        sumarOtrosIngresos();
        
    </script>
}
