@{
    ViewData["Title"] = "SecciónExpirada";
}


<h1 class="text-danger">Acceso denegado.</h1>
<h2 class="text-danger">Su secci&oacute;n a expirado o se han iniciado secci&oacute;n con su usuario y contrase&ntilde;a desde otra PC.</h2>

<h4>Si Usted est&aacute; seguro que no ha iniciado secci&oacute;n desde otra PC</h4>
<h4>Consulte con los responsables de seguridad...</h4>
<h4>Puede ser que su contrase&ntilde;a haya sido robada...</h4>

<h3>Administrador</h3>
<p>
    Contacte con el <strong> ADMINISTRADOR</strong> para obtener m&aacute;s informaci&oacute;n.
</p>
<legend>INFROMACI&Oacute;N DEL ADMINISTRADOR</legend>
<p>
    <strong>Correo electr&oacute;nico :</strong>
    <a>administrador@bde.ec</a>
</p>
<p>
    <strong>Ext:</strong>
    <a>117</a>
</p>

<legend>Si desea autenticarse de click en el siguiente enlace</legend>
<p>
    <a asp-action="Index" asp-controller="Login">Pantalla de autenticaci&oacute;n</a>
</p>



