

<div class="btn-group btn-group-justified" id="menuFichaMedica">
    

    <a id="btn_0" asp-action="Index" class="btn btn-default" onclick="espera()">
        <br />
        Revisar permisos
        <br />&nbsp;
    </a>

    <a id="btn_1" asp-action="IndexTTHH" class="btn btn-default" onclick="espera()">
        Aprobar permisos <br /> Jefes / Directores
    </a>


</div>
