@model bd.webappth.entidades.Negocio.BrigadaSSORol

<fieldset>
    <div class="row">
        <section class="col col-8">
            <label class="input">
                <select asp-for="IdBrigadaSSO" class="form-control" asp-items="ViewBag.IdBrigadaSSO">
                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdBrigadaSSO)></option>
                </select>
                <span asp-validation-for="IdBrigadaSSO" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input maxlength="20" asp-for="Nombre" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Nombre)" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </label>
        </section>
    </div>
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>

