@model bd.webappth.entidades.ViewModels.SolicitudPlanificacionVacacionesViewModel

<fieldset>
    <input asp-for="IdSolicitudPlanificacionVacaciones" hidden />
    <input id="maxDias" asp-for="VacacionesAcumuladas" hidden />
    <input asp-for="DatosBasicosEmpleadoViewModel.IdEmpleado" hidden />
    <input asp-for="Estado" hidden />
    <input type="text" asp-for="Observaciones" hidden />

    <div class="row">
        <section class="col col-5">
            <label>@Html.DisplayNameFor(item => item.FechaDesde)</label>
            <label class="input">
                <input id="txtFechaDesde" asp-for="FechaDesde" type="text" onchange="validarDias()" class="datepicker" data-dateformat='yy-mm-dd'>
            </label>
        </section>

        <section class="col col-5">
            <label>@Html.DisplayNameFor(item => item.FechaHasta)</label>
            <label class="input">
                <input id="txtFechaHasta" asp-for="FechaHasta" type="text" onchange="validarDias()" class="datepicker" data-dateformat='yy-mm-dd'>
            </label>
        </section>

        <section class="col col-2">
            <label>Cantidad de d&iacute;as</label>
            <label class="input">
                <input type="number" id="txtTotalDias" readonly>
            </label>
        </section>

    </div>

</fieldset>

