

<div class="btn-group btn-group-justified" id="menuFichaMedica">
    

    <a id="btn_0" asp-action="Index" class="btn btn-default" onclick="espera()">
        <br />&nbsp;
        Mi planificaci&oacute;n
        <br />&nbsp;
    </a>

    <a id="btn_1" asp-action="IndexJefe" class="btn btn-default" onclick="espera()">

        <br />&nbsp;
        Aprobar planificaci&oacute;n
        <br />&nbsp;

    </a>


</div>
