@model bd.webappth.entidades.Negocio.SolicitudPlanificacionVacaciones

<fieldset>
    <div class="row">   
        <section class="col col-6">
            <label>Fecha desde:</label>
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="FechaDesde" type="text" placeholder="Seleccione fecha desde" class="datepicker" data-dateformat='dd/mm/yy'>
            </label>
        </section>     
        <section class="col col-6">
            <label>Fecha hasta:</label>
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="FechaHasta" type="text" placeholder="Seleccione fecha hasta" class="datepicker" data-dateformat='dd/mm/yy'>
            </label>
        </section>
    </div>
</fieldset>