@model bd.webappth.entidades.Negocio.ConceptoConjuntoNomina

@{
    ViewData["Title"] = "BrigadasSSO";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<div id="content">
    <section id="" class="">
        <div class="col col-10">
            @if (@ViewData["Error"].ToString() != "")
            {
                <div class="col-lg-7">
                    <div class="alert alert-block alert-dismissable">
                        <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                        <p>
                            <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                        </p>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-7">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Crear concepto conjunto</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Create" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{await Html.RenderPartialAsync("_PartialViewConceptoConjuntoNomina", Model);}
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });

        function OcultarSuma() {

            if ($("#Suma").prop('checked')) {
                $("#Suma").prop("checked", false);
            }

        }
        function OcultarResta() {

            if ($("#Resta").prop('checked')) {
                $("#Resta").prop("checked", false);
            }


        }

    </script>
}