@model bd.webappth.entidades.Negocio.PreguntaEvaluacionEvento
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<script src='~/js/site.js'></script>
<script src='~/lib/waitMe/waitMe.min.js'></script>

@using bd.webappth.entidades.Negocio
@{ var modelo = new PreguntaEvaluacionEvento { OpcionMenu = 0 }; }

<!-- MAIN CONTENT -->
<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Facilitador</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="CreateEstadoEvento" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Facilitador" value="True" />
                                <input type="hidden" asp-for="Organizador" value="False" />
                                <input type="hidden" asp-for="Conocimiento" value="False" />
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-6">
                                            <label>Nombre:</label>
                                            <label class="input">
                                                <input maxlength="150" asp-for="Descripcion" class="form-control" />
                                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="IndexFacilitador" onclick="cargando()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>


    <script type="text/javascript">

        function cargando() {
            mostrarLoadingPanel("content", "")
        }

        $(document).ready(function () {
            Init_Select2();
        });
    </script>



}