@model bd.webappth.entidades.Negocio.Parroquia

@{
    ViewData["Title"] = "Parroquia";
}

<script src='~/lib/waitMe/waitMe.min.js'></script>
<script src='~/js/site.js'></script>
<!-- MAIN CONTENT -->
<div id="content" style="height:800px;">

    
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-7">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Parroquias</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="Create" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-8">
                                            <label>Pa&iacute;s:</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <select asp-for="IdPais" class="form-control input " asp-items="ViewBag.IdPais">
                                                        <option value="0" selected="" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-for="IdPais" class="text-danger"></span>
                                                </label>
                                            </div>
                                        </section>

                                        <section class="col col-8">
                                            <label>Provincia:</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <select asp-for="IdProvincia" class="form-control input " asp-items="ViewBag.IdProvincia">
                                                        <option value="0" selected="" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-for="IdCiudad" class="text-danger"></span>
                                                </label>
                                            </div>
                                        </section>

                                        <section class="col col-8">
                                            <label>Ciudad:</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <select asp-for="IdCiudad" class="form-control input " asp-items="ViewBag.IdCiudad">
                                                        <option value="0" selected="" disabled="">Seleccione</option>
                                                    </select>
                                                    <span asp-for="IdCiudad" class="text-danger"></span>
                                                </label>
                                            </div>
                                        </section>

                                        <section class="col col-8">
                                            <label>Parroquia:</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <input maxlength="32" asp-for="Nombre" class="form-control" placeholder="Nombre" />
                                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                                </label>
                                            </div>
                                        </section>

                                    </div>


                                </fieldset>

                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {



    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>

    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
    <script src='~/lib/waitMe/waitMe.min.js'></script>

    <script src='~/js/site.js'></script>

    <script src='~/js/site.js'></script>

    <script type="text/javascript">

        $(document).ready(function () {
            Init_Select2();
        });



        // Provincias por País

        $("#IdPais").change(function () {
            mostrarLoadingPanel("content", "Cargando...")

            $("#IdProvincia").empty();
            $("#IdCiudad").empty();
            //$("#IdParroquia").empty();

            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarProvinciaPorPais")',
                    dataType: 'json',
                    data: { pais: $("#IdPais").val() },
                    success: function (data) {
                        $("#IdProvincia").append('<option value="0" selected="selected" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdProvincia").append('<option value="'
                                + data.idProvincia + '">'
                                + data.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
        })


        //Ciudades por Provincia
        $("#IdProvincia").change(function () {
            mostrarLoadingPanel("content","Cargando...")

            $("#IdCiudad").empty();
            //$("#IdParroquia").empty();

            Init_Select2()
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarCiudadPorProvincia")',
                    dataType: 'json',
                    data: { provincia: $("#IdProvincia").val() },
                    success: function (data) {
                        $("#IdCiudad").append('<option value="0" selected="selected" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdCiudad").append('<option value="'
                                + data.idCiudad + '">'
                                + data.nombre + '</option>');

                        });
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                })

    </script>
}
