@model bd.webappth.entidades.ViewModels.DocumentoFAOViewModel
<div class="btn-group btn-group-justified">

    @if (Model.OpcionMenu == 0)
    {
        <a asp-action="Asignados" asp-controller="DocumentoFAO" style="background-color:#3276b1;color:white;" class="btn btn-default">Servidores <br /> Asignados</a>
    }
    else
    {
        <a asp-action="Asignados" asp-controller="DocumentoFAO" class="btn btn-default">Servidores <br /> Asignados</a>
    }
    @if (Model.OpcionMenu == 1)
    {
        <a asp-action="AsignarEmpleadoFAO" asp-controller="DocumentoFAO" style="background-color:#3276b1;color:white;" class="btn btn-default"> Asignar <br /> Sevidor FAO</a>
    }
    else
    {
        <a asp-action="AsignarEmpleadoFAO" asp-controller="DocumentoFAO" class="btn btn-default"> Asignar<br /> Sevidor FAO</a>
    }


    @if (Model.OpcionMenu == 2)
    {
        <a  style="background-color:#3276b1;color:white;" class="btn btn-default">Servidores <br />a un nuevo <br /> puesto</a>

    }
    else
    {
        <a  class="btn btn-default">Servidores <br />a un nuevo <br /> puesto</a>
    }

    @if (Model.OpcionMenu == 3)
    {
        <a  style="background-color:#3276b1;color:white;" class="btn btn-default">Servidores <br />sin cambio <br /> puesto</a>

    }
    else
    {
        <a  class="btn btn-default">Servidores <br />sin cambio <br /> puesto</a>

    }


    @if (Model.OpcionMenu == 4)
    {
        <a style="background-color:#3276b1;color:white;" class="btn btn-default">Hist&oacutericos</a>
    }
    else
    {
        <a class="btn btn-default">Hist&oacutericos</a>
    }


</div>
