@model bd.webappth.entidades.Negocio.ComportamientoObservable

<fieldset>
    <div class="row">
        <section class="col col-6">
            <label class="input">
                <select asp-for="IdNivel" class="form-control" asp-items="ViewBag.IdNivel">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdNivel)></option>
                </select>
                <span asp-validation-for="IdNivel" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label class="input">
                <select asp-for="IdDenominacionCompetencia" class="form-control" asp-items="ViewBag.IdDenominacionCompetencia">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdDenominacionCompetencia)></option>
                </select>
                <span asp-validation-for="IdDenominacionCompetencia" class="text-danger"></span>
            </label>
        </section>
    </div>
    <section>
        <label class="label"></label>
        <label class="textarea">
            <i class="icon-append fa fa-comment"></i>
            <textarea maxlength="50" asp-for="Descripcion" rows="2" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </label>
    </section>
</fieldset> 