@model bd.webappth.entidades.Negocio.ConjuntoNomina

@{
    ViewData["Title"] = "brigadasSSO";
}
<div id="content">
    <section id="" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-7">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar conjunto</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Edit" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdConjunto" />
                                @{await Html.RenderPartialAsync("_PartialViewConjuntoNomina");}
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="Index" onclick="cargando()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        function cargando() {
            mostrarLoadingPanel("content", "")
        }

    </script>
}