

@model List<bd.webappth.entidades.ViewModels.AreaConocimientoViewModel>
    @using bd.webappth.entidades.ViewModels

    @{ var modelo = new IndiceOcupacionalViewModel { IdIndiceOcupacional = Model.FirstOrDefault().IdIndiceOcupacional }; }
    @{await Html.RenderPartialAsync("_PartialViewIndiceOcupacional", modelo);}

    <!-- MAIN CONTENT -->
    <div id="content">
        <p></p>
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>&Aacute;reas de conocimientos no asignadas</h2>
                        </header>
                        <div>
                            <div class="jarviswidget-editbox">
                            </div>
                            <div class="widget-body no-padding">
                                <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        @if (Model.FirstOrDefault().IdAreaConocimiento != -1)
                                        {
                                            <tr>
                                                <th class="hasinput">
                                                    <input type="text" class="form-control" placeholder="Buscar" />
                                                </th>
                                                <th></th>
                                            </tr>

                                            <tr>
                                                <th>
                                                    &Aacute;rea de conocimiento
                                                </th>
                                                <th>
                                                    <i></i>
                                                    Opciones
                                                </th>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <th data-class="">
                                                    Observaciones
                                                </th>
                                            </tr>
                                        }
                                    </thead>
                                    <tbody>
                                        @if (Model.FirstOrDefault().IdAreaConocimiento != -1)
                                        {
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Adicionar", "AdicionarAreaConocimiento", new { idAreaConocimiento = item.IdAreaConocimiento, idIndiceOcupacional = Model.FirstOrDefault().IdIndiceOcupacional }, new { onclick = "return confirm('Desea asignar el registro  ... ?');" })

                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <p>No existen resultados</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src='~/js/datatables/init.js'></script>
    }


