@model bd.webappth.entidades.Negocio.SolicitudHorasExtras

<fieldset>
    <div class="row">
        @*<section class="col col-8">
                <label class="input">
                    <i class="icon-prepend fa fa-user"></i>
                    <input maxlength="32" asp-for="IdEmpleado" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.IdEmpleado)" />
                    <span asp-validation-for="IdEmpleado" class="text-danger"></span>
                </label>
            </section>*@
        <section class="col col-6">
            <label>Fecha:</label>
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="Fecha" type="text" placeholder="Fecha" class="datepicker" data-dateformat='dd/mm/yy'>
            </label>
        </section>
        <section class="col col-6">
            <label>Horas:</label>
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input maxlength="32" asp-for="CantidadHoras" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.CantidadHoras)" />
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </label>
        </section>
    </div>
    @*<div class="row">

            <section class="col col-4">
                <label class="checkbox">
                    <input type="checkbox" disabled="disabled" asp-for="Aprobado" class="form-control">
                    <i></i>Se aprueba la planificación de vacaciones ?
                    <span asp-validation-for="Aprobado" class="text-danger"></span>
                </label>
            </section>
        </div>
        <section>
            <label class="label"></label>
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea maxlength="150" disabled="disabled" asp-for="Observaciones" rows="2" placeholder="@Html.DisplayNameFor(model=>model.Observaciones)"></textarea>
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </label>
        </section>*@
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>