@model bd.webappth.entidades.Negocio.IngresoEgresoRMU

<fieldset>
    <div class="row">
        <section class="col col-8">
            <label class="input">
                <select asp-for="IdFormulaRMU" class="form-control" asp-items="ViewBag.IdFormulaRMU">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdFormulaRMU)></option>
                </select>
                <span asp-validation-for="IdFormulaRMU" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-comment"></i>
                <input maxlength="20" asp-for="Descripcion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-comment"></i>
                <input maxlength="10" asp-for="CuentaContable" class="form-control" onKeyPress="return checkIt(event)" placeholder="@Html.DisplayNameFor(model=>model.CuentaContable)" />
                <span asp-validation-for="CuentaContable" class="text-danger"></span>
            </label>
        </section>
    </div>

</fieldset>