@model bd.webappth.entidades.Negocio.PlanCapacitacion

@{
    ViewData["Title"] = "brigadasSSO";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<div id="content">
    <section id="" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar gesti&oacute;n plan de capacitaci&oacute;n</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="EditPlanCapacitacion" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdPlanCapacitacion" />
                                <input type="hidden" asp-for="IdGestionPlanCapacitacion" />
                                <input type="hidden" asp-for="Anio" value="@DateTime.Now.Year" />
                                @{await Html.RenderPartialAsync("_PartialViewPlanCapacitacion");}
                                <footer>
                                    <button type="submit" class="btn btn-default" id="btn-guardar">Finalizar</button>
                                    <a asp-action="MostrarExcelBase" asp-route-id="@Model.IdGestionPlanCapacitacion" onclick="cargando()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#IdEmpleado").change(function () {
                mostrarLoadingPanel("content", "Cargando...")
               // $("#IdEmpleado").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ObterDatosEmpleado", "MigracionCapacitaciones")',
                    dataType: 'json',
                    data: { idEmpleado: $("#IdEmpleado").val() },
                    success: function (data) {
                        $("#Institucion").val(data.institucion);
                        $("#Pais").val(data.pais);
                        $("#Provincia").val(data.provincia);
                        $("#NombreCiudad").val(data.nombreCiudad);
                        $("#Cedula").val(data.cedula);
                        $("#ApellidoNombre").val(data.apellidoNombre);
                        $("#Sexo").val(data.sexo);
                        $("#GrupoOcupacional").val(data.grupoOcupacional);
                        $("#ModalidadLaboral").val(data.modalidadLaboral);
                        $("#RegimenLaboral").val(data.regimenLaboral);
                        $("#DenominacionPuesto").val(data.denominacionPuesto);
                        $("#UnidadAdministrativa").val(data.unidadAdministrativa);
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
            })
        })
    </script>

    <script type="text/javascript">

        function OcultarSuma() {

            if ($("#Suma").prop('checked')) {
                $("#Suma").prop("checked", false);
            }

        }
        function OcultarResta() {

            if ($("#Resta").prop('checked')) {
                $("#Resta").prop("checked", false);
            }


        }
    </script>

}