@model bd.webappth.entidades.ViewModels.DiscapacidadSustitutoRequest

<fieldset>
    <div class="row">

        <section class="col col-4">
            <label>Tipo de discapacidad:</label>
            <label class="input">
                <select asp-for="IdTipoDiscapacidad" class="form-control" asp-items="ViewBag.IdTipoDiscapacidad">
                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdTipoDiscapacidad)></option>
                </select>
                <span asp-validation-for="IdTipoDiscapacidad" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>N&uacute;mero de carnet:</label>
            <label class="input">
                <input maxlength="50" asp-for="NumeroCarnet" class="form-control"  />
                <span asp-validation-for="NumeroCarnet" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>Porciento de discapacidad:</label>
            <label class="input">
                <input type="number" asp-for="PorcentajeDiscapacidad" class="form-control"  onKeyPress="return checkIt(event)" onchange="handleChange(this);" onKeyPress="return checkIt(event)" onchange="handleChange(this);" />
                <span asp-validation-for="PorcentajeDiscapacidad" class="text-danger"></span>
            </label>
        </section>
    </div>
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>