@model bd.webappth.entidades.ViewModels.ViewModelTrayectoriaLaboral
<fieldset>
    <div class="row">
        <section class="col col-3">
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="FechaInicio" type="text" placeholder="Seleccione fecha desde" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label class="input">
                <i class="icon-append fa fa-calendar"></i>
                <input asp-for="FechaFin" type="text" placeholder="Seleccione fecha desde" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input maxlength="100" asp-for="Empresa" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Empresa)" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input maxlength="100" asp-for="PuestoTrabajo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.PuestoTrabajo)" />
                <span asp-validation-for="PuestoTrabajo" class="text-danger"></span>
            </label>
        </section>
    </div>
    <section>
        <label class="label"></label>
        <label class="textarea">
            <i class="icon-append fa fa-comment"></i>
            <textarea maxlength="250" asp-for="DescripcionFunciones" rows="2" placeholder="@Html.DisplayNameFor(model=>model.DescripcionFunciones)"></textarea>
            <span asp-validation-for="DescripcionFunciones" class="text-danger"></span>
        </label>
    </section>
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>