@model bd.webappth.entidades.ViewModels.EnfermedadSustitutoRequest

<fieldset>
    <div class="row">

        <section class="col col-6">
            <label>Tipo de enfermedad:</label>
            <label class="input">
                <select asp-for="IdTipoEnfermedad" class="form-control" asp-items="ViewBag.IdTipoEnfermedad">
                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdTipoEnfermedad)></option>
                </select>
                <span asp-validation-for="IdTipoEnfermedad" class="text-danger"></span>
            </label>
        </section>

        <section class="col col-lg-3">
            <label class="col col-lg-12">@Html.DisplayNameFor(Model => Model.PresentaCertificado)</label>

            <div class="col-lg-6">
                <label class="radio">
                    <input class="radio" type="radio" asp-for="PresentaCertificado" value="true" />
                    <i></i>SI

                </label>
            </div>

            <div class="col-lg-6">
                <label class="radio">
                    <input class="radio" type="radio" asp-for="PresentaCertificado" value="false" />
                    <i></i>NO

                </label>
            </div>

        </section>
    </div>

    <div class="row">

        <section class="col col-lg-6">&nbsp;</section>

        <section class="col col-6">
            <label>Instituci&oacute;n que emite:</label>
            <label class="input">
                <input maxlength="150" asp-for="InstitucionEmite" class="form-control" />
                <span asp-validation-for="InstitucionEmite" class="text-danger"></span>
            </label>
        </section>

    </div>

</fieldset>