@model bd.webappth.entidades.ViewModels.ViewModelEmpleadoSustituto

<fieldset>
    <legend>Datos Personales</legend>
    <div class="row">
        <section class="col col-6">
            <div class="form-group">
                <label>Nombres:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa  fa-fw"></i></span>
                    <input asp-for="Nombre" class="form-control input " placeholder="Nombres" type="text">
                </div>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </section>
        <section class="col col-6">
            <div class="form-group">
                <label>Apellidos:</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user fa  fa-fw"></i></span>
                    <input asp-for="Apellido" class="form-control input " placeholder="Apellidos" type="text">
                </div>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
        </section>
    </div>
    <div class="row">
        <section class="col col-4">
            <label>Parentesco:</label>
            <div class="form-group">
                <div class="input">
                    <select asp-for="IdParentesco" asp- class="form-control input " asp-items="ViewBag.IdParentesco">
                        <option value="0" selected="selected" disabled="">Seleccione</option>
                    </select>
                    <span asp-validation-for="IdParentesco" class="text-danger"></span>
                </div>
            </div>
        </section>
        <section class="col col-4">
            <label>Tel&eacute;fono de Privado:</label>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile fa  fa-fw"></i></span>
                    <input asp-for="TelefonoPrivado" class="form-control input " data-mask="99-99999999" data-mask-placeholder="X" placeholder="09-9999-9999" type="text">
                </div>
                <span asp-validation-for="TelefonoPrivado" class="text-danger"></span>
            </div>
        </section>
        <section class="col col-4">
            <label>Tel&eacute;fono de Casa:</label>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone fa  fa-fw"></i></span>
                    <input asp-for="TelefonoCasa" class="form-control input " data-mask="99-9999999" data-mask-placeholder="X" placeholder="02-2222222" type="text">
                </div>
                <span asp-validation-for="TelefonoCasa" class="text-danger"></span>
            </div>
        </section>

    </div>
    
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>