@model bd.webappth.entidades.ViewModels.ViewModelTrayectoriaLaboral
<fieldset>
    <div class="row">
        <section class="col col-3">
            <label>Fecha inicio</label>
            <label class="input">
                <input asp-for="FechaInicio" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label>Fecha fin</label>
            <label class="input">
                <input asp-for="FechaFin" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label>Empresa</label>
            <label class="input">
                <input maxlength="100" asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label>Puesto de trabajo</label>
            <label class="input">
                <input maxlength="100" asp-for="PuestoTrabajo" class="form-control"/>
                <span asp-validation-for="PuestoTrabajo" class="text-danger"></span>
            </label>
        </section>
    </div>
    <section>
        <label>Funciones</label>
        <label class="textarea">
            <textarea maxlength="250" asp-for="DescripcionFunciones" rows="5"></textarea>
            <span asp-validation-for="DescripcionFunciones" class="text-danger"></span>
        </label>
    </section>
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>