
<p></p>  <p></p>
<a asp-action="Index" asp-controller="Empleados">
    <button type="button" asp-action="Index" asp-controller="Empleados" class="btn btn-labeled btn-default">
        <span class="btn-label">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </span>Listado de empleados

    </button>
</a>
<p> </p>