@model bd.webappth.entidades.ViewModels.ViewModelTrayectoriaLaboral
<fieldset>
    <div class="row">
        <section class="col col-2">
            <label>Fecha inicio</label>
            <label class="input">
                <input asp-for="FechaInicio" type="text" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-2">
            <label>Fecha fin</label>
            <label class="input">
                <input asp-for="FechaFin" type="text" class="datepicker" data-dateformat='dd/mm/yy'>
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>Empresa</label>
            <label class="input">
                <input maxlength="95" asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>Puesto de trabajo</label>
            <label class="input">
                <input maxlength="200" asp-for="PuestoTrabajo" class="form-control" />
                <span asp-validation-for="PuestoTrabajo" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-4">
            <label>Tipo de instituci&oacute;n</label>
            <label class="input" >
                <select asp-for="TipoInstitucion" class="form-control">
                    <option value="PUBLICA">P&Uacute;BLICA</option>
                    <option value="PRIVADA">PRIVADA</option>
                </select>
                <span asp-validation-for="TipoInstitucion" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>&Aacute;rea asignada</label>
            <label class="input">
                <input asp-for="AreaAsignada" maxlength="95" class="form-control">
                <span asp-validation-for="AreaAsignada" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>Forma de ingreso</label>
            <label class="input">
                <input maxlength="95" asp-for="FormaIngreso" class="form-control" />
                <span asp-validation-for="FormaIngreso" class="text-danger"></span>
            </label>
        </section>

    </div>
        <section>
            <label>Motivo de salida</label>
            <label class="textarea">
                <textarea maxlength="990" asp-for="MotivoSalida" rows="5"></textarea>
                <span asp-validation-for="MotivoSalida" class="text-danger"></span>
            </label>
        </section>
        <section>
            <label>Funciones</label>
            <label class="textarea">
                <textarea maxlength="240" asp-for="DescripcionFunciones" rows="5"></textarea>
                <span asp-validation-for="DescripcionFunciones" class="text-danger"></span>
            </label>
        </section>
        <span class="text-danger">@ViewData["Error"]</span>
    </fieldset>
