@model bd.webappth.entidades.Negocio.DatosBancarios

<fieldset>
    <div class="row">

        <section class="col col-4">
            <label>Instituci&oacute;n financiera</label>
            <label class="input">
                <select asp-for="IdInstitucionFinanciera" class="form-control" asp-items="ViewBag.IdInstitucionFinanciera">
                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdInstitucionFinanciera)></option>
                </select>
                <span asp-validation-for="IdInstitucionFinanciera" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>N&uacute;mero de cuenta</label>
            <label class="input">
                <input maxlength="20" asp-for="NumeroCuenta" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.NumeroCuenta)" />
                <span asp-validation-for="NumeroCuenta" class="text-danger"></span>
            </label>
        </section>
        <section class="col-col-4">
            <label>&nbsp;&nbsp;</label>
            <label class="checkbox-inline">
                <label>&iquest; Es cuenta de ahorros ?</label>
                <input type="checkbox" asp-for="Ahorros" class="form-control" />
            </label>
        </section>
        @*<div class="col-sm-4">
            <div class="form-group">
                <label class="checkbox">
                    <label>&iquest; Es Cuenta de Ahorros?</label>
                    <input type="checkbox" asp-for="Ahorros" class="form-control" />
                </label>
            </div>
        </div>*@
    </div>
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>