@model bd.webappth.entidades.ViewModels.ViewModelPersonaEstudio
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<script src='~/js/site.js'></script>
<script src='~/lib/waitMe/waitMe.min.js'></script>

@using bd.webappth.entidades.Utils
@{ var modelo = new FichaEmpleado { OpcionMenu = 1 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

@{
    ViewData["Title"] = "PersonaEstudio";
}


<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Nueva formaci&oacute;n acad&eacute;mica</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form asp-action="CreatePersonaEstudio" asp-controller="FichaEmpleado" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{await Html.RenderPartialAsync("_PartialViewPersonaEstudio", Model);}
                                <footer>
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="IndexPersonaEstudio" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>
<!-- END MAIN CONTENT -->
@section Scripts {

    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">

                    $("#IdEstudio").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdAreaConocimiento").empty();
            $("#IdTitulo").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarAreasConocimientosporEstudio","Empleados")',
                    dataType: 'json',
                    data: { idEstudio: $("#IdEstudio").val() },
                    success: function (data) {
                        $("#IdAreaConocimiento").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdAreaConocimiento").append('<option value="'
                                + data.idAreaConocimiento + '">'
                                + data.descripcion + '</option>');

                        });
                        Init_Select2();
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                   })


                   $("#IdAreaConocimiento").change(function () {
            mostrarLoadingPanel("content","Cargando...")
            $("#IdTitulo").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ListarTitulosporAreaConocimiento", "Empleados")',
                    dataType: 'json',
                    data: {
                        idAreaConocimiento: $("#IdAreaConocimiento").val(),
                        idEstudio: $("#IdEstudio").val()
                          },
                    success: function (data) {
                        $("#IdTitulo").append('<option value="0" selected="" disabled="">Seleccione</option>');
                        $.each(data, function (i, data) {
                            $("#IdTitulo").append('<option value="'
                                + data.idTitulo + '">'
                                + data.nombre + '</option>');

                        });
                        Init_Select2();
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
                return false;
                   })

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>
}
