@model bd.webappth.entidades.Negocio.DatosBancarios
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />
<script src='~/js/site.js'></script>
<script src='~/lib/waitMe/waitMe.min.js'></script>

@using bd.webappth.entidades.Utils
@{ var modelo = new FichaEmpleado { OpcionMenu = 6 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar dato bancario</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="EditDatoBancario" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdDatosBancarios" />
                                <input type="hidden" asp-for="IdEmpleado" />
                                @{await Html.RenderPartialAsync("_PartialViewDatoBancario");}
                                <footer>
                                    <input type="submit" id="GuardarForm" onclick="cargando()" value="Guardar" class="btn btn-primary" />
                                    <a asp-action="IndexDatoBancario" onclick="cargando()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->

</div>

@section Scripts {
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="~/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/js/plugin/fuelux/wizard/wizard.min.js"></script>

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>


    <script type="text/javascript">

        function cargando() {
            mostrarLoadingPanel("content", "")
        }
        $(document).ready(function () {
            Init_Select2();
        });
    </script>



}