@model bd.webappth.entidades.Negocio.Noticia

<fieldset>
      <div class="row">
        <section class="col col-12">
           
            <div class="col-sm-9">
                <label class="input">
                    <input asp-for="Titulo" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Titulo)" />
                    <span class="nombreErr text-danger"></span>
                </label>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input asp-for="Fecha" type="text" data-dateformat='dd/mm/yy' class="form-control input datepicker " placeholder="Fecha " data-msg-required='El campo es requerido' data-rule-required='true'>
                </div>
            </div>
       </section>
       </div>
    
        <div class="row">
            <section class="col-col-12">
                 <div class="col-sm-3">
                       <img src="~/@ViewData["Foto"]" class="img-responsive" alt="img">            
                 </div>
                 <div class="col-sm-9 padding-left-0" >
                 <label class="textarea">
                 <textarea asp-for="Descripcion" rows="7" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
                 <span asp-validation-for="Descripcion" class="text-danger"></span>
                 </label>
                 <br />
                 <div class="input input-file">
                     <span class="button"><input id="file" type="file" name="files" onchange="this.parentNode.nextSibling.value = this.value">Buscar</span><input type="text" placeholder="Seleccione un archivo" readonly="">
                 </div>
                 <span class="errorDiv text-danger">Archivos permitidos extensi&oacute;n .jpg y tama&ntilde;o m&aacute;ximo de 180 x 180 p&iacutexeles </span>           
                 </div>
               
            </section>
        </div>
      <br />
</fieldset>

