@model bd.webappth.entidades.Negocio.ExamenComplementario
<input type="hidden" asp-for="IdFichaMedica" />
<fieldset>
    <div class="row">
        <section class="col col-4">
            <label class="input">
                <label>@Html.DisplayNameFor(model => model.TipoExamenComplementario.Nombre)</label>
                <select asp-for="IdTipoExamenComplementario" class="form-control input " asp-items="ViewBag.IdTipoExamenComplementario">
                    <option value="0" selected="" disabled="">Seleccione</option>
                </select>
                <span asp-validation-for="IdTipoExamenComplementario" class="text-danger"></span>
            </label>
        </section>

        <section class="col col-4">

            <label class="input">
                <label>@Html.DisplayNameFor(model => model.Fecha)</label>
                <input readonly="readonly" name="Fecha" value="@Model.Fecha" class="form-control datepicker" placeholder="@Html.DisplayNameFor(model => model.Fecha)" data-dateformat='dd/mm/yy' />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-4">
            <label>&nbsp;</label>
            <div class="input input-file">
                <input  asp-for="Url" id="file" type="file" name="files" onchange="loadFile(event)">
                <script>
                    var loadFile = function (event) {
                        var output = document.getElementById('output');
                        output.data = URL.createObjectURL(event.target.files[0]);
                        output.style.height = "700px";
                        document.getElementById("examenpdf").style.visibility = "visible";
                    };
                </script>
             </div>
        </section>
    </div>
    <div class="row">

        <section class="col col-lg-12">
            <label class="textarea">
                <i class="icon-append fa fa-comment"></i>
                <textarea asp-for="Resultado" rows="4"></textarea>
                <span class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row" id="examenpdf" height="0px">

            <section class="col col-lg-12">
                <legend>Examen complementario</legend>
                <section>
                    <object id="output" type="application/pdf" width="100%" height="1px"></object>
                </section>
            </section>


        </div>

</fieldset>

<script>
    document.getElementById("examenpdf").style.visibility = "hidden";
</script>
