@model bd.webappth.entidades.Negocio.BrigadaSSO
<fieldset>
    <section>
        <label class="label"></label>
        <label class="textarea">
            <i class="icon-append fa fa-comment"></i>
            <textarea maxlength="50" asp-for="Nombre" rows="2" placeholder="@Html.DisplayNameFor(model=>model.Nombre)"></textarea>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </label>
    </section>
</fieldset>   