@model List<bd.webappth.entidades.Negocio.BrigadaSSO>

@{
    ViewData["Title"] = "Index";
}
			<!-- MAIN CONTENT -->
<div id="content">

    <p></p>
    <a asp-action="Create">
        <button type="button" asp-action="Create" class="btn btn-labeled btn-default">
            <span class="btn-label">
                <i class="glyphicon glyphicon-plus"></i>
            </span>Nueva Brigada de Salud y Seguridad Ocupacional

        </button>
    </a>
    <p> </p>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                    data-widget-colorbutton="false"
                    data-widget-editbutton="false"
                    data-widget-togglebutton="false"
                    data-widget-deletebutton="false"
                    data-widget-fullscreenbutton="false"
                    data-widget-custombutton="false"
                    data-widget-collapsed="true"
                    data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Brigadas de Salud y Seguridad Ocupacional</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th class="hasinput">
                                            <input type="text" class="form-control" placeholder="Buscar" />
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th data-class="expand">
                                            <i class="icon-append fa fa-comment"></i>
                                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                                        </th>
                                        <th>
                                            <i class="icon-append fa fa-cog"></i>
                                            Opciones
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.IdBrigadaSSO }) |
                                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdBrigadaSSO }, new { onclick = "return confirm('Desea eliminar la Brigada de Salud y Seguridad Ocupacional... ?');" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>

            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

 @section Scripts {
   <script src='~/js/datatables/init.js'></script>
}

