
<p></p>  <p></p>
<a asp-action="CreateCandidatoConcurso" asp-controller="SeleccionPersonalTalentoHumano">
    <button type="button" asp-action="CreateCandidatoConcurso" asp-controller="SeleccionPersonalTalentoHumano" class="btn btn-labeled btn-primary">
        <span class="btn-label">
            <i class="glyphicon glyphicon-plus"></i>
        </span>Finalizar

    </button>
</a>
<p> </p>