
<p></p>  <p></p>
<a asp-action="Index" asp-controller="FichaCandidatos">
    <button type="button" asp-action="Index" asp-controller="FichaCandidatos" class="btn btn-labeled btn-default">
        <span class="btn-label">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </span>Listado de candidatos

    </button>
</a>
<p> </p>