
<p></p>  <p></p>
<a asp-action="Index" asp-controller="GastoPersonal" onclick="cargando()">
    <button type="button" asp-action="Index" asp-controller="GastoPersonal" onclick="cargando()" class="btn btn-labeled btn-default">
        <span class="btn-label">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </span>Gastos personales

    </button>
</a>
<p> </p>
