@model bd.webappth.entidades.Negocio.GastoPersonal
<fieldset>
    <div class="row">
        <section class="col col-lg-12">
            <label class="label">Tipo de gasto</label>
            <label class="input">
                <select asp-for="IdTipoGastoPersonal" class="form-control" asp-items="ViewBag.IdTipoGastoPersonal">
                    <option value="0" selected="selected">Seleccione</option>
                </select>
                <span asp-validation-for="IdTipoGastoPersonal" class="text-danger"></span>
            </label>
        </section>
    </div>
        <div class="row" >
        <section class="col col-3">
            <label>Valor</label>
            <label class="input">
                
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset>   