@model bd.webappth.entidades.Negocio.GastoPersonal

@{
    ViewData["Title"] = "brigadasSSO";
}

@using Microsoft.AspNetCore.Http;
@using bd.webappth.entidades.Constantes;

@{
    var a = @Context.Session.GetInt32(Constantes.IdEmpleadoGastoPersonal);
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

@using bd.webappth.entidades.Utils
@{ var modelo = new MenuConceptoNomina { OpcionMenu = 0 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewInformacion");}
    <section id="" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-7">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Editar Relaci&oacute;n de conjunto</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="EditGastoPersonal" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="IdGastoPersonal" />
                                @{await Html.RenderPartialAsync("_PartialViewGastoPersonal");}
                                <footer>
                                    <button type="submit"  class="btn btn-primary" id="btn-guardar">Guardar</button>
                                    <a asp-action="GastoPersonalIndex" asp-route-id="@a" onclick="cargando()" class="btn btn-default">Cancelar</a>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src='~/lib/select2/dist/js/select2.min.js'></script>
    <script src='~/lib/select2/dist/js/i18n/es.js'></script>
    <script src='~/js/site.js'></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Init_Select2();
        });
    </script>

    <script type="text/javascript">

        function OcultarSuma() {

            if ($("#Suma").prop('checked')) {
                $("#Suma").prop("checked", false);
            }

        }
        function OcultarResta() {

            if ($("#Resta").prop('checked')) {
                $("#Resta").prop("checked", false);
            }


        }
    </script>
    <script type="text/javascript">

        function cargando() {
            mostrarLoadingPanel("content", "")
        }

    </script>

}