@model bd.webappth.entidades.ViewModels.ViewModelPartidaFase
<fieldset>
    <div class="row">
        @*<section class="col col-lg-6">
            <label>Tipo Concurso</label>
            <label class="input">
                <select asp-for="IdTipoConcurso" class="form-control" id="IdTipoConcurso" asp-items="ViewBag.IdTipoConcurso">
                    <option value="0" selected="selected" disabled=""></option>
                </select>
                <span asp-validation-for="IdTipoConcurso" class="text-danger"></span>
            </label>
        </section>*@
        <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.VacantesCreadas)</label>
            <label class="input">
                <input maxlength="20" asp-for="VacantesCreadas" class="form-control" />
                <span asp-validation-for="VacantesCreadas" class="text-danger"></span>
            </label>
        </section>
    </div>

</fieldset>