@model bd.webappth.entidades.Negocio.ConceptoNomina
<fieldset>
    <div class="row">
        <section class="col col-lg-7">
            <label >Procesos</label>
            <label class="input">
                <select asp-for="IdProceso" class="form-control" asp-items="ViewBag.IdProceso">
                    <option value="0" selected="selected">Seleccione</option>
                </select>
                <span asp-validation-for="IdProceso" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-lg-3">
            <label >Estatus</label>
            <label class="input">
                <select asp-for="Estatus" class="form-control">
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select>
                <span asp-validation-for="Estatus" class="text-danger"></span>
                </label>
        </section>
        <section class="col col-2">
            <label >Abreviatura</label>
            <label class="input">
                <input maxlength="10" asp-for="Abreviatura" class="form-control" />
                <span asp-validation-for="Abreviatura" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-3">
            <label>C&oacute;digo</label>
            <label class="input">
                <input maxlength="10" asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-3">
            <label>Prioridad</label>
            <label class="input">
                <input maxlength="100" asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-6">
            <label>Descripci&oacute;</label>
            <label class="input">
                <input maxlength="100" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-6">
            <label class="label"> <b> Tipo de rubro</b></label>
            <hr />
            <label class="label"></label>
            <label class="radio">
                PERCEPCI&Oacute;N <input name="TipoConcepto" type="radio" value="percepcion" asp-for="TipoConcepto" />
                <i></i>
            </label>
            <label class="radio">
               DEDUCCI&Oacute;N <input name="TipoConcepto" type="radio" value="deduccion" asp-for="TipoConcepto" />
                <i></i>
            </label>
            <label class="radio">
                PROVISI&Oacute;N <input name="TipoConcepto" type="radio" value="provision" asp-for="TipoConcepto" />
                <i></i>
            </label>
           
        </section>

        <section class="col col-6">
            <label class="label"> <b>RELACI&Oacute;N LABORAL </b></label>
            <hr />
            <label class="label"></label>
            <label class="radio">
                NOMBRAMIENTO <input name="RelacionLaboral" type="radio" value="NOMBRAMIENTO" asp-for="RelacionLaboral" />
                <i></i>
            </label>
            <label class="radio">
                CONTRATO <input name="RelacionLaboral" type="radio" value="CONTRATO" asp-for="RelacionLaboral" />
                <i></i>
            </label>
            <label class="radio">
                AMBOS <input name="RelacionLaboral" type="radio" value="AMBOS" asp-for="RelacionLaboral" />
                <i></i>
            </label>
            <br />
        </section>

    </div>
    @*<div class="row">
        <section class="col col-lg-12">
            <label class="label">Formula de c&aacute;lculo</label>
            <label class="textarea">
                <textarea maxlength="50" asp-for="FormulaCalculo" rows="10"></textarea>
                <span asp-validation-for="FormulaCalculo" class="text-danger"></span>
            </label>
        </section>

    </div>*@
</fieldset>   