
<p></p>  <p></p>
<a asp-action="Index" asp-controller="ConceptoNomina">
    <button type="button" asp-action="Index" asp-controller="ConceptoNomina" class="btn btn-labeled btn-default">
        <span class="btn-label">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </span>Listado de conceptos

    </button>
</a>
<p> </p>
