
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using bd.webappth.entidades.Constantes;

@{
    var codigo = @Context.Session.GetString(Constantes.CodigoConceptoNominaSession);
    var descripcion = @Context.Session.GetString(Constantes.DescripcionConceptoNominaSession);
}
<fieldset>
    <legend>Definici&oacute;n del concepto</legend>
    <div class="row col-lg-12">

            <label><b> C&oacute;digo:</b></label>
            <label><b> @codigo</b></label>
            <label>&nbsp; &nbsp; &nbsp; &nbsp;</label>
            <label><b> Descripci&oacute;n:</b></label>
            <label><b> @descripcion</b></label>
    </div>
</fieldset>
<br />







