@model bd.webappth.entidades.Negocio.ConceptoConjuntoNomina
<fieldset>
    <div class="row">
        <section class="col col-lg-12">
            <label class="label">Conjuntos</label>
            <label class="input">
                <select asp-for="IdConjunto" class="form-control" asp-items="ViewBag.IdConjunto">
                    <option value="0" selected="selected">Seleccione</option>
                </select>
                <span asp-validation-for="IdConjunto" class="text-danger"></span>
            </label>
        </section>
    </div>
    <label>Operaciones</label>
    <hr />
    <br />
    <div class="row">
        <section class="col col-6">
            <label>Resta</label>
            <label class="checkbox">
                <input type="checkbox" onclick="OcultarSuma()" asp-for="Resta" />
                <input type="hidden" name="Resta" value="false" checked="checked" />
                <i></i>
            </label>
        </section>

        <section class="col col-6">
            <label>Suma</label>
            <label class="checkbox">
                <input type="checkbox" onclick="OcultarResta()" asp-for="Suma" />
                <input type="hidden" name="Suma" value="false" checked="checked" />
                <i></i>
            </label>
        </section>

    </div>
  
</fieldset>   
<br />