@model bd.webappth.entidades.Negocio.ConceptoNomina
<fieldset>
    <div class="row">
        <section class="col col-lg-12">
            <label class="label">Procesos</label>
            <label class="input">
                <select asp-for="IdProceso" class="form-control" asp-items="ViewBag.IdProceso">
                    <option value="0" selected="selected">Seleccione</option>
                </select>
                <span asp-validation-for="IdProceso" class="text-danger"></span>
            </label>
        </section>
    </div>
        <div class="row" >
        <section class="col col-3">
            <label>C&oacute;digo</label>
            <label class="input">
                <input maxlength="10" asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-9">
            <label>Descripci&oacute;n</label>
            <label class="input">
                <input maxlength="100" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset>   