@model bd.webappth.entidades.Negocio.ConceptoNomina
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

@using bd.webappth.entidades.Utils
@{ var modelo = new MenuConceptoNomina { OpcionMenu = 0 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewBotonIndexConceptoNomina");}

    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Definici&oacute;n del concepto</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <form asp-action="DetalleConceptoNomina" method="post" id="checkout-form" class="smart-form" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @{await Html.RenderPartialAsync("_PartialViewConceptoNomina", Model);}
                            <footer>
                                <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

}