@model bd.webappth.entidades.Negocio.ConceptoNomina

@{
    ViewData["Title"] = "BrigadasSSO";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />
@using bd.webappth.entidades.Utils
@{ var modelo = new MenuConceptoNomina { OpcionMenu = 2 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

<div id="content">

    @{await Html.RenderPartialAsync("_PartialViewBotonIndexConceptoNomina");}

    @{await Html.RenderPartialAsync("_PartialViewConceptoInformacion");}
    <section id="" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header id="table">
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>F&oacute;rmula de c&aacute;lculo</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <div class="widget-body no-padding">
                            <form asp-action="Formula" method="post" id="checkout-form" class="smart-form" novalidate="novalidate">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @{await Html.RenderPartialAsync("_PartialViewFormula", Model);}
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="btn-guardar">Guardar</button>
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $("#mensajeSatisfactorio").hide();
        $("#mensajeError").hide();
        function anadirElememto(valor)
        {
            var tipo = document.getElementById("FormulaCalculo");
            tipo.value += " " + valor ;
        }

        function validarformula() {
            mostrarLoadingPanel("content", "Validando la f"+'&oacute;'+"rmula...")
            var tipo = document.getElementById("FormulaCalculo");
                           $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ValidarFormula")',
                    dataType: 'json',
                    data: { formula: $("#FormulaCalculo").val() },
                    success: function (data) {
                        if (data == true) {
                            $("#mensajeError").hide();
                            $("#mensajeSatisfactorio").show();
                            $("#content").waitMe("hide");
                        } else {
                            $("#mensajeSatisfactorio").hide();
                            $("#mensajeError").show();
                            $("#content").waitMe("hide");
                        }
                    }, complete: function (data) {
                        $("#content").waitMe("hide");
                    },

                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
        }

    </script>

}