@model bd.webappth.entidades.Negocio.ItinerarioViatico
<div class="row">
    <section class="col col-4">
        <label>Tipo de transporte:</label>
        <label class="input">
            <select id="IdTipoTransporte" asp-for="IdTipoTransporte" class="form-control input " asp-items="ViewBag.IdTipoTransporte" data-msg-required='El campo es requerido' data-rule-required='true'>
                <option value="0" selected="" disabled="">Seleccione</option>
            </select>
        </label>
    </section>
    <section class="col col-4">
        <label>Fecha de salida:</label>
        <label class="input">
            <input id="FechaSalida" asp-for="FechaDesde" type="text" readonly="readonly" class=" form-control datepicker" data-dateformat='dd/mm/yy'>
            <span asp-validation-for="FechaDesde" class="text-danger"></span>
        </label>
    </section>
    <section class="col col-4">
        <label>Hora de salida:</label>
        <label class="input">
            <input type="time" asp-for="HoraSalida" class="form-control input " data-msg-required='El campo es requerido' data-rule-required='true'>
            <span asp-validation-for="HoraSalida" class="text-danger"></span>
        </label>
    </section>
</div>
<div class="row">
    <section class="col col-4">
        <label>Fecha de llegada:</label>
        <label class="input">
            <input id="FechaLlegada" asp-for="FechaHasta" type="text" readonly="readonly" class=" form-control datepicker" data-dateformat='dd/mm/yy'>
            <span asp-validation-for="FechaHasta" class="text-danger"></span>
        </label>
    </section>
    <section class="col col-4">
        <label>Hora de llegada:</label>
        <label class="input">
            <input type="time" asp-for="HoraLlegada" class="form-control input  " data-msg-required='El campo es requerido' data-rule-required='true'>
            <span asp-validation-for="HoraLlegada" class="text-danger"></span>
        </label>
    </section>

    <section class="col col-lg-4">
        <label>Valor:</label>
        <label class="input">
            <input id="Valor" asp-for="Valor" class="form-control input " placeholder="Valor" type="text" data-msg-required='El campo es requerido' data-rule-required='true'>
            <span asp-validation-for="Valor" class="text-danger"></span>
        </label>
    </section>
</div>
