@model bd.webappth.entidades.Negocio.InformeViatico
<fieldset>
    <div class="row">
        <section class="col col-4">
            <label>Tipo de transporte:</label>
            <label class="input">
                <select id="IdTipoTransporte" asp-for="IdTipoTransporte" class="form-control input " asp-items="ViewBag.IdTipoTransporte" data-msg-required='El campo es requerido' data-rule-required='true'>
                    <option value="0" selected="" disabled="">Seleccione</option>
                </select>
            </label>
        </section>
            <section class="col col-4">
                <label>Nombre Trasporte:</label>
                <label class="input">
                    <input asp-for="NombreTransporte" type="text" class="form-control" data-msg-required='El campo es requerido' data-rule-required='true'>
                    <span asp-validation-for="NombreTransporte" class="text-danger"></span>
                </label>
            </section>
        <section class="col col-4">
            <label>Fecha de salida:</label>
            <label class="input">
                <input id="FechaSalida" asp-for="FechaSalida" type="text" class="form-control input datepicker " placeholder="Fecha de llegada: " data-dateformat='dd/mm/yy' data-msg-required='El campo es requerido' data-rule-required='true'>
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-4">
            <label>Hora de salida:</label>
            <label class="input">
                <input type="time" asp-for="HoraSalida" class="form-control input  " data-msg-required='El campo es requerido' data-rule-required='true'>
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>Fecha de llegada:</label>
            <label class="input">
                <input id="FechaLlegada" asp-for="FechaLlegada" type="text" class="form-control input datepicker " placeholder="Fecha de llegada: " data-dateformat='dd/mm/yy' data-msg-required='El campo es requerido' data-rule-required='true'>
                <span asp-validation-for="FechaLlegada" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>Hora de llegada:</label>
            <label class="input">
                <input type="time" asp-for="HoraLlegada" class="form-control input  " data-msg-required='El campo es requerido' data-rule-required='true'>
                <span asp-validation-for="HoraLlegada" class="text-danger"></span>
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-lg-4">
            <label>Valor:</label>
            <label class="input">
                <input id="Valor" asp-for="ValorEstimado" class="form-control input " placeholder="Valor" type="text" data-msg-required='El campo es requerido' data-rule-required='true'>
                <span asp-validation-for="ValorEstimado" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-lg-4">
            <label>Ciudad de Origen:</label>
            <label class="input">
                <select asp-for="IdCiudadDestino" class="form-control input" asp-items="ViewBag.IdCiudadDestino" data-msg-required='El campo es requerido' data-rule-required='true'>
                    <option value="0" selected="" disabled="">Seleccione</option>
                </select>
            </label>
        </section>
        <section class="col col-lg-4">
            <label>Ciudad de Destino:</label>
            <label class="input">
                <select asp-for="IdCiudadOrigen" class="form-control input" asp-items="ViewBag.IdCiudadOrigen" data-msg-required='El campo es requerido' data-rule-required='true'>
                    <option value="0" selected="" disabled="">Seleccione</option>
                </select>
            </label>
        </section>
    </div>
</fieldset>