@model bd.webappth.entidades.Negocio.Mision
<fieldset>
    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-comment"></i>
                <input maxlength="32" asp-for="Descripcion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>

</fieldset>
