@using bd.webappth.web.Helpers
@using System.Security.Claims;
@inject Microsoft.Extensions.Options.IOptions<Settings> Settings
<div class="login-info">
    <span>
        @{var claim = User.Identities.Where(x => x.NameClaimType == ClaimTypes.Name).FirstOrDefault();}
        @{var NombreUsuario = claim.Claims.Where(c => c.Type == ClaimTypes.Name).FirstOrDefault().Value;}
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/img/avatars/sunny.png" alt="me" class="online" />
            <span>@NombreUsuario</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>