@using System.Threading.Tasks
@using bd.webappth.servicios.Interfaces
@using bd.webappth.servicios.Servicios
@using bd.webappth.entidades.Utils.Seguridad
@using bd.webappth.entidades.Utils
@inject bd.webappth.servicios.Interfaces.IMenuServicio MenuServicio
@using bd.webappth.web.Helpers
@using System.Security.Claims;
@inject Microsoft.Extensions.Options.IOptions<Settings> Settings

@if (User.Identity.IsAuthenticated)
{
    var menuItems = new List<Adscmenu>();
    var NombreUsuario = "";

    @try
    {
        var claim = User.Identities.Where(x => x.NameClaimType == ClaimTypes.Name).FirstOrDefault();
        NombreUsuario = claim.Claims.Where(c => c.Type == ClaimTypes.Name).FirstOrDefault().Value;
        menuItems = await MenuServicio.Listar(NombreUsuario, "/api/Adscmenus/ObtenerMenuPorUsuarioSistema");
    }
    catch (Exception)
    {
        Url.Action("Index", "Login");
    }
    @if (menuItems != null)
    {
        @MenuServicio.CrearMenu(Html, Url, menuItems,WebApp.NivelesMenu)
    }


    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>
}
