@{
    ViewData["Title"] = "Error";
}


<h1 class="text-danger">Acceso denegado.</h1>
<h2 class="text-danger">Usted no tiene permiso para realizar esta acci&oacute;n.</h2>

<h3>Administrador</h3>
<p>
    Contacte con el <strong> ADMINISTRADOR</strong> para obtener m&aacute;s informaci&oacute;n.
</p>
<legend>INFROMACI&Oacute;N DEL ADMINISTRADOR</legend>
<p>
    <strong>Correo electr&oacute;nico :</strong>
    <a>administrador@bde.ec</a>
</p>
<p>
    <strong>Ext:</strong>
    <a>117</a>
</p>

<legend>Si desea autenticarse de en el siguiente enlace</legend>
<p>
    <a asp-action="Index" asp-controller="Login">Pantalla de autenticaci&oacute;n</a>
</p>