@model bd.webappth.entidades.Negocio.EscalaEvaluacionTotal

<fieldset>
    <div class="row">
        <section class="col col-4">
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input maxlength="32" asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Name)" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label class="input" width="20%">
                <i class="icon-prepend fa fa-map-marker"></i>
                <input asp-for="PorcientoDesde" onkeypress="return NumCheck(event, this)" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.PorcientoDesde)" />
                <span asp-validation-for="PorcientoDesde" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label class="input" width="20%">
                <i class="icon-prepend fa fa-map-marker"></i>
                <input asp-for="PorcientoHasta" onkeypress="return NumCheck(event, this)" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.PorcientoHasta)" />
                <span asp-validation-for="PorcientoHasta" class="text-danger"></span>
            </label>
        </section>
    </div>
    <section>
        <label class="label"></label>
        <label class="textarea">
            <i class="icon-append fa fa-comment"></i>
            <textarea maxlength="250" asp-for="Descripcion" rows="4" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </label>
    </section>
</fieldset>
