@model bd.webappth.entidades.Negocio.TipoDeGastoPersonal
<fieldset>
    <div class="row">
        <section class="col col-9">
            <label>Descripci&oacute;n</label>
            <label class="input">
                <input maxlength="100" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset>   