@model bd.webappth.entidades.Negocio.ConceptoNomina




<fieldset>
    
    <div class="row">

        <section class="col col-lg-12">
            <label class="label">F&oacute;rmula de c&aacute;lculo</label>
            <label class="textarea">
                <textarea maxlength="50" asp-for="FormulaCalculo" rows="10"></textarea>
                <span asp-validation-for="FormulaCalculo" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-lg-12">
            <a href="javascript:void(0);" class="btn btn-primary btn-default btn-sm"><i class="glyphicon glyphicon-ok"></i>&nbsp;  Validar f&oacute;rmula</a>
        </section>

    </div>


</fieldset>   