
@model bd.webappth.entidades.Utils.MenuConceptoNomina
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using bd.webappth.entidades.Constantes;
   
   @{
       var a = @Context.Session.GetInt32(Constantes.IdSriSession);
    }
<div class="btn-group btn-group-justified">
    @if (Model.OpcionMenu == 0)
    {
        <a asp-action="DatosBasicosSri" asp-controller="SriNomina"  asp-route-id="@a"  onclick="cargando()" style="background-color:#3276b1;color:white;" class="btn btn-default">Definici&oacute;n del SRI </a>
    }
    else
    {
        <a asp-action="DatosBasicosSri" asp-controller="SriNomina" asp-route-id="@a" onclick="cargando()" class="btn btn-default">Definici&oacute;n del SRI</a>
    }


    @if (Model.OpcionMenu == 1)
    {
        <a asp-action="IndexSriDetalle" asp-controller="SriNomina" onclick="cargando()" style="background-color:#3276b1;color:white;" class="btn btn-default">Tabla de fracciones</a>

    }
    else
    {
        <a asp-action="IndexSriDetalle" asp-controller="SriNomina" onclick="cargando()" class="btn btn-default">Tabla de fracciones</a>


    }
   
</div>
