@model bd.webappth.entidades.Negocio.SriNomina
<fieldset>
    <div class="row">
        <section class="col col-8">
            <label>Descripci&oacute;n</label>
            <label class="input">
                <input maxlength="100" asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-4">
            <label>&nbsp;&nbsp;</label>
            <label class="checkbox-inline">
                <label>&iquest; Est&aacute; activo ?</label>
                <input type="checkbox" asp-for="Activo" class="form-control" readonly disabled/>
            </label>
        </section>
    </div>
</fieldset>   