@model bd.webappth.entidades.Negocio.SriNomina
<link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
<link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

@using bd.webappth.entidades.Utils
@{ var modelo = new MenuConceptoNomina { OpcionMenu = 0 }; }

@{await Html.RenderPartialAsync("_PartialViewMenu", modelo);}

<div id="content">
    @{await Html.RenderPartialAsync("_PartialViewBotonIndexConceptoNomina");}

    <section id="widget-grid" class="">

        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Definici&oacute;n del SRI</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>
                        <form asp-action="DatosBasicosSri" method="post" id="checkout-form" class="smart-form" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Activo" />
                            @{await Html.RenderPartialAsync("_PartialViewSriNomina", Model);}
                            <footer>
                                <input type="submit" value="Guardar" class="btn btn-primary" id="btn-guardar" />
                            </footer>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section Scripts {
    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">

        function cargando() {
            mostrarLoadingPanel("content", "")
        }

    </script>

}