@model bd.webappth.entidades.Negocio.CapacitacionModalidad

<fieldset>
    <div class="row">
        <section class="col col-8">
            <label class="label">@Html.DisplayNameFor(model => model.Descripcion)</label>
            <label class="input">
                <input maxlength="20" asp-for="Descripcion" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </label>
        </section>
    </div>
</fieldset> 
