@model bd.webappth.entidades.Negocio.ConocimientosAdicionales

<fieldset>
    <section>
        <label class="label"></label>
        <label class="textarea">
            <i class="icon-append fa fa-comment"></i>
            <textarea maxlength="100" asp-for="Descripcion" rows="2" placeholder="@Html.DisplayNameFor(model=>model.Descripcion)"></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </label>
    </section>
    <span class="text-danger">@ViewData["Error"]</span>
</fieldset>
