@model bd.webappth.entidades.ViewModels.ViewModelSeleccionPersonal
<fieldset>
    <div class="row">
        <section class="col col-lg-12">
            <label class="input">
                @Html.DisplayNameFor(model => model.UnidadAdministrativa):
                @Html.DisplayFor(model => model.UnidadAdministrativa)
            </label>
        </section>
    </div>
    <div class="row">
        <section class="col col-lg-12">
            <label class="input">
                @Html.DisplayNameFor(model => model.PuestoInstitucional):
                @Html.DisplayFor(model => model.PuestoInstitucional)
            </label>
        </section>
    </div>
    
</fieldset>