@model bd.webappth.entidades.ViewModels.ViewModelSeleccionPersonal
<fieldset>
<div class="row">
    <section class="col col-6">
        <label class="input">@Html.DisplayNameFor(model => model.identificacion)</label>
        <label class="input">
            <input maxlength="50" asp-for="identificacion" class="form-control" />
            <span asp-validation-for="identificacion" class="text-danger"></span>
        </label>
    </section>
    <section class="col col-6">
        <label class="input">@Html.DisplayNameFor(model => model.nombres)</label>
        <label class="input">
            <input maxlength="50" asp-for="nombres" class="form-control" />
            <span asp-validation-for="nombres" class="text-danger"></span>
        </label>
    </section>
</div>
<div class="row">
    <section class="col col-6">
        <label class="input">@Html.DisplayNameFor(model => model.Apellidos)</label>
        <label class="input">
            <input maxlength="50" asp-for="Apellidos" class="form-control" />
            <span asp-validation-for="Apellidos" class="text-danger"></span>
        </label>
    </section>
</div>

@* <div class="row">
        <section class="col col-8">
            <label class="input">
                <input maxlength="12" asp-for="TasaPorcentualMaxima" onkeypress="return NumCheck(event, this)" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.TasaPorcentualMaxima)" />
            </label>
        </section>
    </div>*@

</fieldset>