@model bd.webappth.entidades.ViewModels.ViewModelSeleccionPersonal
<fieldset>
    <div class="row">
        <section class="col col-lg-6">
            <label class="input">@Html.DisplayNameFor(model => model.Instituacion)</label>
            <label class="input">
                <input maxlength="50" asp-for="Instituacion" class="form-control" />
                <span asp-validation-for="Instituacion" class="text-danger"></span>
            </label>
        </section>
        <section class="col col-lg-6">
            <label class="input">@Html.DisplayNameFor(model => model.Cargo)</label>
            <label class="input">
                <input maxlength="50" asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </label>
        </section>
        </div>
        <div class="row">
            <section class="col col-lg-6">
                <label class="input">@Html.DisplayNameFor(model => model.fechainicio)</label>
                <label class="input">
                    <input asp-for="fechainicio" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy' />
                    <span asp-validation-for="fechainicio" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-lg-6">
                <label class="input">@Html.DisplayNameFor(model => model.fechahasta)</label>
                <label class="input">
                    <input asp-for="fechahasta" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy' />
                    <span asp-validation-for="fechahasta" class="text-danger"></span>
                </label>
            </section>
        </div>
</fieldset>