@model bd.webappth.entidades.ViewModels.ViewModelSeleccionPersonal
    <fieldset>
        <div class="row">
            <section class="col col-4">
                <label>Nivel de estudio</label>
                <label class="input">
                    <select asp-for="IdEstudio" class="form-control" id="IdEstudio" asp-items="ViewBag.IdEstudio">
                        <option value="0" selected="selected" disabled=""></option>
                    </select>
                    <span asp-validation-for="IdEstudio" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-4">
                <label>&Aacute;rea de conocimiento</label>
                <label class="input">
                    <select asp-for="IdAreaConocimiento" class="form-control" id="IdAreaConocimiento" asp-items="ViewBag.IdAreaConocimiento">
                        <option value="0" selected="" disabled=""></option>
                    </select>
                    <span asp-validation-for="IdAreaConocimiento" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-4">
                <label>T&iacute;tulo obtenido</label>
                <label class="input">
                    <select asp-for="IdTitulo" id="IdTitulo" class="form-control" asp-items="ViewBag.IdTitulo">
                        <option value="0" selected="" disabled=""></option>
                    </select>
                    <span asp-validation-for="IdTitulo" class="text-danger"></span>
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label>N&uacute;mero del Senescyt</label>
                <label class="input">
                    <input maxlength="32" asp-for="NoSenescyt" class="form-control" />
                    <span asp-validation-for="NoSenescyt" class="text-danger"></span>
                </label>
            </section>
            <section class="col col-6">
                <label>Fecha de graduado</label>
                <label class="input">
                    <input asp-for="FechaGraduado" type="text" readonly="readonly" class="datepicker" data-dateformat='dd/mm/yy'>
                    <span asp-validation-for="FechaGraduado" class="text-danger"></span>
                </label>
            </section>
        </div>
        <section>
            <label class="label"></label>
            <label>Observaciones</label>
            <label class="textarea">
                <textarea maxlength="50" asp-for="Observaciones" rows="3"></textarea>
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </label>
        </section>
        <span class="text-danger">@ViewData["Error"]</span>
    </fieldset>