@model bd.webappth.entidades.ViewModels.SolicitudPermisoViewModel

<fieldset>

    <div class="row">
        <section class="col col-lg-11">
            <legend> Control de salida de personal en horas de oficina</legend>
        </section>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">

        <section class="col col-lg-12">
            <label class="input col-lg-12">Nombres y Apellidos</label>
            <label class="input col-lg-6">
                <input asp-for="NombresApellidosEmpleado" disabled="disabled" class="form-control" />
            </label>
        </section>

        <section class="col col-lg-12">
            <label class="input col-lg-12">Dependencia</label>
            <label class="input col-lg-6">
                <input asp-for="NombreDependencia" disabled="disabled" class="form-control" />
            </label>
        </section>

    </div>

    <div class="row">
        <section class="col col-lg-11">
            <legend>Tiempo que Solicita</legend>
        </section>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">

        <section class="col col-lg-4">
            <label class="input col-lg-12">Fecha Desde</label>
            <label class="input col-lg-12">
                <input asp-for="SolicitudPermiso.FechaDesde" type="text" data-dateformat='dd/mm/yy' class="form-control input datepicker " data-msg-required='El campo es requerido' data-rule-required='true'>
            </label>

        </section>

        <section class="col col-lg-4">

            <label class="input col-lg-12">Hora Desde</label>
            <label class="input col-lg-4">
                <input type="time" asp-for="SolicitudPermiso.HoraDesde" data-msg-required='El campo es requerido' data-rule-required='true' min="08:00" max="17:00">
            </label>

        </section>

    </div>

    <div class="row">

        <section class="col col-lg-4">

            <label class="input col-lg-12">Fecha Hasta</label>
            <label class="input col-lg-12">
                <input asp-for="SolicitudPermiso.FechaHasta" type="text" data-dateformat='dd/mm/yy' class="form-control input datepicker " placeholder="Seleccione Fecha de Fin " data-msg-required='El campo es requerido' data-rule-required='true'>
            </label>

        </section>

        <section class="col col-lg-4">

            <label class="input col-lg-12">Hora Hasta</label>
            <label class="input col-lg-4">
                <input type="time" asp-for="SolicitudPermiso.HoraHasta" data-msg-required='El campo es requerido' data-rule-required='true' min="08:00" max="17:00">
            </label>

        </section>

    </div>

    <div class="row">
        <section class="col col-lg-11">
            <legend>Permiso</legend>
        </section>
    </div>

    <div class="row">&nbsp;</div>


    <div class="row">

        <section class="col col-lg-4">

            <label class="input col-lg-12">Tipo de Permiso</label>
            <label class="input col-lg-12">
                <select asp-for="IdTipoPermiso" class="form-control" asp-items="ViewBag.IdTipoPermiso">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.SolicitudPermiso.IdTipoPermiso)></option>
                </select>
                <span asp-validation-for="IdTipoPermiso" class="text-danger"></span>
            </label>

        </section>

        <section class="col col-lg-12">

            <label class="input col-lg-12">Motivo</label>
            <div class="input col-lg-6">
                <input asp-for="SolicitudPermiso.Motivo" class="form-control" data-msg-required='El campo es requerido' data-rule-required='true' />
            </div>

        </section>


    </div>

</fieldset>