@model bd.webappth.entidades.ViewModels.SolicitudPermisoViewModel

@{
    ViewData["Title"] = "CONTROL DE SALIDA DE PERSONAL EN HORAS DE OFICINA";
}

<link rel="stylesheet" href="~/lib/select2/dist/css/select2.min.css" />

			<!-- MAIN CONTENT -->
<div id="content">

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-lg-9">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false">
                    <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>
                        <h2>Control de Salida de Personal en Horas de Oficina</h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <form  id="frmSolicitarPermisos"  asp-action="PedirPermiso" class="smart-form" novalidate="novalidate">
                                <input type="hidden" asp-for="SolicitudPermiso.Empleado.IdEmpleado" />
                                <input type="hidden" asp-for="NombresApellidosEmpleado" />
                                <input type="hidden" asp-for="NombreDependencia" />
                                @{await Html.RenderPartialAsync("_PartialViewPedirPermiso", Model);}
                                <div class="form-actions">
                                    <div class="row">
                                       
                                        <div class="col-lg-12">
                                            <button class="btn btn-default btn-lg" type="submit">
                                                Cancelar
                                            </button>
                                            <button class="btn btn-primary btn-lg" type="submit" id="btnPedirPermiso">
                                                <i class="fa fa-edit"></i>
                                                Pedir Permiso
                                            </button>
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
                <!-- Widget ID (each widget will need unique ID)-->
               
            </article>
            <!-- WIDGET END -->
            <!-- NEW WIDGET START -->
         
            <!-- WIDGET END -->
        </div>
        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
    <!-- Modal -->
   
</div>
<!-- END MAIN CONTENT -->
@section Scripts {
    <script type="text/javascript">
        <script src='~/lib/select2/dist/js/select2.min.js'></script>
<script src='~/lib/select2/dist/js/i18n/es.js'></script>
<script src='~/js/site.js'></script>
<script type="text/javascript">
            $(document).ready(function () {
                Init_Select2();
    });

</script>

}
