@model bd.webappth.entidades.Negocio.ActividadesEsenciales

<fieldset>
    <section>
        <label class="label">@Html.DisplayNameFor(model => model.Descripcion)</label>
        <label class="textarea">
            <textarea maxlength="250" asp-for="Descripcion" rows="4" ></textarea>
            <span asp-validation-for="Descripcion" class="text-danger"></span>
        </label>
    </section>
</fieldset>
