@model bd.webappth.entidades.Negocio.ModalidadPartida
<fieldset>
    @*<div class="row">
        <section class="col col-8">
            <label class="input">
                <select asp-for="IdRelacionLaboral" class="form-control" asp-items="ViewBag.IdRelacionLaboral">
                    <option id="0"><Seleccione una @Html.DisplayNameFor(model => model.IdRelacionLaboral)></option>
                </select>
                <span asp-validation-for="IdRelacionLaboral" class="text-danger"></span>
            </label>
        </section>
    </div>*@

    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-append fa fa-comment"></i>
                <input maxlength="20" asp-for="Nombre" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Nombre)" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </label>
        </section>
    </div>

</fieldset>