

<div class="btn-group btn-group-justified" id="menuFichaMedica">
    

    <a id="btn_0" asp-action="IndexEmpleado" class="btn btn-default" onclick="espera()">
        <br />
        Mis permisos 
        <br />&nbsp;
    </a>

    <a id="btn_1" asp-action="IndexJefe" class="btn btn-default" onclick="espera()">
        <br />
        Aprobar permisos
        <br />&nbsp;
    </a>


</div>
