
<link href="~/css/tabla/table.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}


<!-- MAIN CONTENT -->
<div id="content">


    <div class="col col-10">
        @if (@ViewData["Error"].ToString() != "")

        {

            <div class="col-lg-12">
                <div class="alert alert-block alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#"><p>X</p></a>
                    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i>Informaci&oacute;n!</h4>
                    <p>
                        <span class="text-danger"><strong><bold> @ViewData["Error"]</bold></strong></span>
                    </p>
                </div>
            </div>

        }
    </div>

    <p></p>

    <div class="alert alert-info">
        <b>Aviso</b>
        
        <br>
        Para asignar al funcionario un movimiento interno, por favor ingrese el n&uacute;mero de c&eacute;dula
    </div>
    <p></p>

    <!-- widget grid -->
    <section id="" class="">
        <!-- row -->

        <form asp-action="ListaMovimientos" id="checkout-form" class="smart-form" novalidate="novalidate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">

                <label class="col col-lg-2">
                    <input type="submit" value="Ingresar cédula" class=" form-control btn btn-default">
                </label>

                <label class="col col-lg-2">
                    <input type="text" class="form-control" style="padding-left:5px;" name="identificacion" />
                </label>
            </div>


        </form>


        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section Scripts {
    <script src='~/js/datatables/init.js'></script>

    <link rel="stylesheet" href="~/lib/waitMe/waitMe.min.css" />
    <link rel="stylesheet" href="~/lib/waitMe/waitMe.css" />

    <script src='~/lib/waitMe/waitMe.min.js'></script>
    <script src='~/js/site.js'></script>

    <script type="text/javascript">
        function espera() {

            mostrarLoadingPanel("content", "Cargando...");
        }

        $("#btn_0").css("background-color", "#3276b1");
        $("#btn_0").css("color", "white");

    </script>
}

