@model bd.webappth.entidades.Negocio.CapacitacionTemario

<fieldset>
    <div class="row">
        <section class="col col-8">
            <label class="input">
                <select asp-for="IdCapacitacionAreaConocimiento" class="form-control" asp-items="ViewBag.IdCapacitacionAreaConocimiento">
                    <option value="0"><Seleccione una @Html.DisplayNameFor(model => model.IdCapacitacionAreaConocimiento)></option>
                </select>
                <span asp-validation-for="IdCapacitacionAreaConocimiento" class="text-danger"></span>
            </label>
        </section>
    </div>

    <div class="row">
        <section class="col col-8">
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input maxlength="20" asp-for="Tema" class="form-control" placeholder="@Html.DisplayNameFor(model=>model.Tema)" />
                <span asp-validation-for="Tema" class="text-danger"></span>
            </label>
        </section>
    </div
</fieldset> 
